@page "/"

@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var item in data)
        {
            <li>@item</li>
        }
    </ul>
}

@code {
    private List<string> data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<List<string>>("https://localhost:7136/api/");
    }
}
