@page "/"

<PageTitle>Todo lists</PageTitle>

<h1>Todo lists</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><a class="btn btn-primary" href="/create">Add new</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todoList in todoLists)
            {
                <tr>
                    <td>@todoList.Id</td>
                    <td>@todoList.Title</td>
                    <td>
                        <a href="/edit/@todoList.Id" class="btn btn-primary">Edit</a>
                        <button class="btn btn-primary" @onclick="() => Delete(todoList.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}