@model ProductsIndexModel

@{
    ViewData["Title"] = "Products";
}

<h1>Tooted</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>


<form method="get">
    <div class="form-group">
        <label>Tootenimi</label>
        <input asp-for="Search.Keyword" class="form-control" />
    </div>
    <div class="form-group">
        <label>Minimaalne hind</label>
        <input asp-for="Search.MinPrice" type="number" step="0.01" class="form-control" />
    </div>
    <div class="form-group">
        <label>Maksimaalne hind</label>
        <input asp-for="Search.MaxPrice" type="number" step="0.01" class="form-control" />
    </div>
    <button class="btn btn-primary">Otsi</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Hind</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Data.Results)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model.Data))
